@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyBlog.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyBlog.Web.styles.css" asp-append-version="true" />

    <link href='https://cdn.jsdelivr.net/npm/froala-editor@4.0.10/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@4.0.10/js/froala_editor.pkgd.min.js'></script>
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark text-light border-bottom box-shadow">
            <div class="container">
                <!-- Header Container -->
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">MyBlog.Web</a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>   
                </button>

                <!-- Header Component 1 -->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"> <!-- Header Component 1 -->
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <!-- Admin Drop Down -->
                        <!-- Only Allow Admin to see This-->
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin
                                </a>

                                <ul class="dropdown-menu">

                                    <li>
                                        <!-- AdminTags/Add -->
                                        <a class="dropdown-item"
                                           asp-area=""
                                           asp-controller="AdminTags"
                                           asp-action="Add">Add Tag</a>
                                    </li>

                                    <li>
                                        <!-- AdminTags/List -->
                                        <a class="dropdown-item"
                                           asp-area=""
                                           asp-controller="AdminTags"
                                           asp-action="List">Show All Tags</a>
                                    </li>

                                    <li>
                                        <!-- AdminTags/List -->
                                        <a class="dropdown-item"
                                           asp-area=""
                                           asp-controller="AdminBlogPosts"
                                           asp-action="Add">Add Blog Post</a>
                                    </li>

                                    <li>
                                        <!-- AdminTags/List -->
                                        <a class="dropdown-item"
                                           asp-area=""
                                           asp-controller="AdminBlogPosts"
                                           asp-action="List">Show All Blog Post</a>
                                    </li>

                                </ul>
                            </li>
                        }
                        <!-- End of Admin Drop Down -->

                    </ul>
                </div> 

                <!-- End of Header Component -->
                <div class="d-flex align-item-center">
                    <!-- Check User signed In or Not -->
                    @if (signInManager.IsSignedIn(User))
                    {
                        // Display the User Name if Logged In
                        <div class="btn me-3 text-light">
                            @User?.Identity?.Name 
                        </div>

                        <a class="btn me-3 text-light"
                           asp-area=""
                           asp-controller="Account"
                           asp-action="Logout">
                           Logout
                        </a>
                    }
                    else
                    {
                        <a class="btn me-3 bg-light text-dark"
                            asp-area=""
                            asp-controller="Account"
                            asp-action="Register">
                            Register
                        </a>

                        <a class="btn me-3 text-light"
                            asp-area=""
                            asp-controller="Account"
                            asp-action="Login">
                            Login
                        </a>                        
                    }
                </div>
                <!-- End of Header Container -->
            </nav>
        </header>
    
        <div class="">
            <main role="main" class="">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted mt-auto">
            <div class="container">
                &copy; 2024 - MyBlog.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
